{
  "extends": "eslint-config-airbnb-lite",
  "env": {
    "es6": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-param-reassign": 0,
    "react/jsx-uses-react": 1
  }
}
