.component
{
  display: inline-block;
  overflow: hidden;

  width: 45px;
  height: 45px;

  text-indent: -1000px;

  background: url(/index/Face.png) -96px 0 no-repeat;
}

.confused
{
  background: url(/index/Face.png) -144px 0 no-repeat;
}

.happy
{
  background: url(/index/Face.png) -48px 0 no-repeat;
}

.upset
{
  background: url(/index/Face.png) 0px 0 no-repeat;
}
