.tile
{
  display: block;
  float: left;

  width: 30px;
  height: 30px;

  cursor: pointer;
  text-align: center;

  background: #fff;
}

.tile:hover
{
  background: #eee;
}

.tile:active
{
  background: #e0e0e0;
}
