.component
{
  font-family: roboto, arial;
  font-size: 13px;
  font-style: normal;
  line-height: 30px;

  display: block;
  float: left;

  width: 30px;
  height: 30px;

  cursor: pointer;
  text-align: center;

  background: #fff;
}

.component:hover
{
  background: #eee;
}

.component:active
{
  background: #e0e0e0;
}
