doctype html
html
  head
    title Demo
    link(rel='stylesheet',href='/index/index.css')

  body !{children}
    script(type='text/javascript').
      window.STATE_FROM_SERVER = !{state};

    script(type='text/javascript', src='/index/index.js')
